InheritParentConfig: true
WarningsAsErrors: false

# Available check groups can be found at https://clang.llvm.org/extra/clang-tidy/
Checks:
    -*,
    boost-*,
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    -google-readability-braces-around-statements,
    hicpp-*,
    -hicpp-braces-around-statements,
    llvm-*,
    -llvm-header-guard,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    -readability-avoid-unconditional-preprocessor-if

CheckOptions:
    - { key: cppcoreguidelines-avoid-do-while.IgnoreMacros, value: true }
    - { key: readability-braces-around-statements.ShortStatementLines, value: 2 }
    - { key: misc-include-cleaner.IgnoreHeaders, value: 'stdafx\.h' }
    - { key: readability-implicit-bool-conversion.AllowPointerConditions, value: true }
